*{
background: linear-gradient(135deg, #0073ff, #02fe5f);
background-color: linear-gradient(135deg, #0073ff, #02fe5f);
}

button {
  font-size: 1em;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding: 1.5em 3em;
  border-radius: 3em;
  background-color: #ffff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
